* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.027rem;
    font-weight: 400;
}

h2 {
    font-size: 1.802rem;
    font-weight: 800;
}

h3 {
    font-size: 1.266rem;
    font-weight: 500;
}

.logo {
    width: 240px;
}

header {
    color: #f8fafc;
    background-color: #fff;
    text-align: center;
    padding: 1em 2em;
    
}

header div {
    display: flex;
    padding-top: 2em 0;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    font-weight: 500;
    text-transform: uppercase;
}

nav ul li a:link,
nav ul li a:visited {
    color: #222;
    text-decoration: none;
    margin: 0 10px;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #222;
}

.intro-pic {
    display: grid;
    gap: 8px;
    padding: 2em;
    grid-template-columns: repeat(3fr, 1fr);
    grid-template-rows: 3fr, 1fr;
    grid-template-areas: 
    "pic1 pic1 pic1"
    "pic2 pic3 pic4"
    ;
}

.intro-pic .ip1:nth-child(1) {
    grid-area: pic1;
    border-radius: 8px;
}

.intro-pic .ip2:nth-child(2) {
    grid-area: pic2;
    border-radius: 8px;
}

.intro-pic .ip3:nth-child(3) {
    grid-area: pic3;
    border-radius: 8px;

}

.intro-pic .ip4:nth-child(4) {
    grid-area: pic4;
    border-radius: 8px;

}

.le {
    text-transform: uppercase;
    font-weight: 700;
}

.button {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    margin-bottom: auto;
}

.sweetheart {
    padding: 2em;
}

.behind-the-dough {
    background-color: #ebebec;
    padding: 2em;
}

.what-people-are-saying {
    color: #fff;
    background-color: #000;
    padding: 2em;
}

.names {
    font-weight: 400;
    font-style: italic;
}

.titles {
    text-align: center;
}

.twpics {
    display: grid;
    text-align: center;
    gap: 1em;
    padding: 1em;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: 
    "pic1 pic2"
    "pic3 pic4"
    ;
}

.twpics div {
    background-color: #ebebec;
}

.photos {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 0.5em;
    text-align: center;
}



